*{
    margin: 0;padding: 0;background-color: #282727;
    color: azure; list-style: none; text-decoration: none;
}
/*    header {
        position: fixed;
    }
*/
header nav{ font-size: 12px;}
header .gnb_ft > span {margin:0 5px;}
header .nav_top{
    display: flex;justify-content: space-between;
    margin: 10px 25px ;
}
header .nav_bottom{font-size: 12pt;}
header .nav_bottom >ul {
    display: flex; justify-content: space-around;
    margin-top: 40px;
}

/*  container  */
.container{margin: 40px 100px;}
.container > .container_box01{
    display: flex; justify-content: space-between;
}
/*container box02 */

.container_box02{
    margin: 40px 0;
}
.container_box02 > ul{
    display: flex;
    justify-content: space-between;
}
.container_box02 .btn_util{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.container_box02 .btn_util > .btn_like{
    width: 80px; height: 30px;
}
.container_box02 .btn_util > .btn_like > i{
    text-align: center;
    margin-right: 4px;
}
.container_box02 .btn_util > .btn_book {
    width: 160px; height: 30px; border: 1px solid snow;
    text-decoration: none; text-align: center; line-height: 30px;
    font-weight: bold; border-radius: 4px;
}
.container_box02 .btn_util > .btn_book:hover{
    background-color: rgb(241, 241, 241); color: rgb(42, 40, 40);
}

/*container 03 */
.container_box03{
    background-color: rgba(26, 26, 26,0.2);
    width: 90%; margin: 0 auto; 
}
.container_box03 .search_link{
    padding: 28px 0; display: flex; justify-content: space-between;
}
.container_box03 .cell{
    border: none;
}
input{border: none;}
input:focus{outline: none; border: none;}
.cell > button{
    border: none;
}

.scroll{
    margin: 0 auto; text-align: center; margin-top: 40px;
}
