body{
    margin: 0;
}
nav{
    background-color: rgb(5, 41, 55);
    color: snow; display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none; color: snow;
}
ul{ list-style: none; margin: 0; display: flex; 
    justify-content: space-between;
    padding-inline-start: 0;
}
.menu_logo{
    padding: 8px 16px; font-size:18px ;
}
.menu_logo > i{
    color: #e0b310; font-size: 24px;
}
.menu_bar > li{
    padding: 8px 16px;
}
.menu_icon > li{
    padding: 8px 10px; font-size: 18px;
}
.hamburger_bar{ display: none;
    position: absolute; color: snow; 
    top: 6px; right: 20px; font-size: 20px;
}

/* Max-width 768px */
@media all and (max-width: 768px){
    nav{
        display: flex; flex-direction: column;
    }
    .menu_bar{
        display: flex; width: 100%; text-align: center;
        flex-direction: column;
    }
    .menu_bar li:hover{
        background-color: #e0b310;
    }
    .menu_icon{
        display: none;
    }
    .hamburger_bar{
       display: block;
   } 
}
    
